#root {
    background-color: #240046;
}

.main-content-all {
    margin-top: 2rem;
    background-color: #240046;
}

.products {
    color: black;

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem 0;
    margin-bottom: 5px;
    background-color: #ffffff;

}

.products-detail {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.products-price {
    font-weight: bold;
    font-size: 125%;
}