.main-content {
    margin-top: 2rem;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 0;
    margin-bottom: 5px;
}

.product-detail {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.product-price {
    font-weight: bold;
    font-size: 140%;
}